.class-selection {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  margin-left: 50px;
}

.class-slot {
  width: 160px;
  height: 160px;
  margin: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: bold;
}

.character-slot.highlighted {
  border: 2px solid red;
}